:root {
    --x: 0.5;
    --y: 0.5;
}

@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Outfit:wght@100..900&display=swap');

@font-face {
  font-family: "cozette";
  src:
    local("cozette"),
    url("/assets/fonts/cozette.woff2") format("woff2"); /* i hope thats just the fact that build failed man*/
}

@font-face {
  font-family: "swiza-medium";
  src:
    local("swiza-medium"),
    url("/assets/fonts/swiza-medium-webfont.woff2") format("woff2");
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-image:
    repeating-linear-gradient(0deg, transparent, transparent 19px, #ff6c6c 20px),
    repeating-linear-gradient(90deg, transparent, transparent 19px, #f38282 20px),
    linear-gradient(-45deg, #526fee, #e73c3c);
  background-size: 20px 20px, 20px 20px, 400% 400%;
  background-position: 0 0, 0 0, 0 0;
  background-repeat: repeat;
  overflow-x: clip;
}

.head {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.world {
    font-family: "Just Another Hand", cursive;
    letter-spacing: 4px;
    background: linear-gradient(to top, rgb(163, 179, 248), rgb(0, 140, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    filter: drop-shadow(2px 2px 2px #000);
}

.head h3 {
    font-family: "Outfit", sans-serif;
    color: #fff;
}

.head h1 {
    font-family: "cozette", system-ui;
    color: #fff;
    font-size: 4.5rem;
    filter: drop-shadow(2px 2px 2px #000);
    margin: 1px;
    transition: font-size 1s ease;
    perspective: 1000px;
}

.loranet {
    background: linear-gradient(to top, rgb(163, 179, 248), rgb(0, 140, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.underline-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.underline {
    display: flex;
    align-self: center;
    border-radius: 8px;
    width: 10vw;
    height: 1vh;
    background-image: linear-gradient(-45deg, #a4cff3, #526fee);
    transition: width 1s ease;
}

.underline-title:hover h1{
    font-size: 5rem;
}

.underline-title:hover .underline {
    width: 15vw;
    animation: 2s infinite gradientMove;
}

.hero-header {
    position: fixed;
    width: 94vw;
    top: 10px;
    justify-self: center;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(9px) saturate(180%);
    -webkit-backdrop-filter: blur(9px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.58);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: white;
    padding: 1rem;
    height: 6vh;
    gap: 5%;
    z-index: 999;
}

.hero-header a {
    position: relative;
    font-family: cozette;
    font-size: 1.5rem;
    align-self: center;
    text-Shadow: 0 0 5px #fff, 0 0 100px #fff, 0 0 30px #fff;
    color: inherit;
    text-decoration: none;
}

.hero-header a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5%;
    height: 2px;
    width: 0%;
    background-color: rgba(255, 255, 255, 0.842);
    border-radius: 8px;
    box-Shadow: 0 0 5px #fff, 0 0 100px #fff, 0 0 30px #fff;
    transition: 0.5s ease all .3s;
}

.hero-header a:hover::after {
    width: 90%;
    transition: 0.3s ease all;
}

.flip-box {
    position: absolute;
    align-self: center;
    background-color: transparent;
    width: 23%;
    height: 200px;
    perspective: 1000px;
    bottom: -8%;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: swiza-medium;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}

.flip-box-front {
    backdrop-filter: blur(50px) saturate(180%);
    -webkit-backdrop-filter: blur(50px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.39);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: #fff;
}

.flip-box-back {
    backdrop-filter: blur(50px) saturate(180%);
    -webkit-backdrop-filter: blur(50px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.39);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: white;
    transform: rotateY(180deg);
    padding-right: 18px;
    padding-left: 18px;
}

.flip-box-1 {
    left: 25%;
}

.flip-box-2 {
    right: 25%
}

.flip-card-emoji {
    font-size: 2rem
}

/*
8888b.     db    888888    db
 8I  Yb   dPYb     88     dPYb
 8I  dY  dP__Yb    88    dP__Yb
8888Y"  dP""""Yb   88   dP""""Yb
*/

#data {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #181218;
  flex-direction: column;
}

.data-map img {
    width: 40%
}

.data-search {
  justify-self:center;
  margin-top: 10%;
  display: flex;
  width: 50%;
  height: 40px;
  backdrop-filter: blur(9px) saturate(180%);
  -webkit-backdrop-filter: blur(9px) saturate(180%);
  background-color: rgb(249, 251, 255);
  border-radius: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.data-search button {
  background-color: #526fee;
  border: none;
  border-radius: 100px;
  font-family: swiza-medium, sans-serif;
  color: rgb(255, 255, 255);
  position: absolute;
  right: 10px;
  top: 10px;
  margin: 0;
  padding: 10px;
  width: 100px;
  box-sizing: border-box;
  height: calc(100% - 20px);
}

.data-search input {
  position: absolute;
  left: 10px;
  top: 10px;
  margin: 0;
  padding: 10px;
  width: 50%;
  box-sizing: border-box;
  height: calc(100% - 20px);
  border: none;
  border-radius: 100px;
  font-family: swiza-medium, sans-serif;
  color: black;
  border: 1px solid black;
}

.data-search input:focus {
  outline: none;
  border: 2px solid black;
}
.data-search select {
  position: absolute;
  left: calc(50% + 20px);
  top: 10px;
  margin: 0;
  padding: 10px;
  width: calc(100% - (50% + 100px + 40px));
  box-sizing: border-box;
  height: calc(100% - 20px);
  border: none;
  border-radius: 100px;
  font-family: swiza-medium, sans-serif;
  color: black;
  border: 1px solid black;
}